/* -------------------------------------------------
   # Fonts
----------------------------------------------------*/
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

h1,h2,h3,h4,h5,h6 {font-family: $font-primary; margin: 0;}
p {font-family: $font-secondary; margin: 0;}

.link {
   color: #3A95FF;
   transition: color 800ms;
   text-decoration: none   ;
}
.link:hover {
   color: #1468E5;
}