#nosotros {
    padding: 70px 0;
    background: #f6f9ff;
    display: flex;
    justify-content: center;
    align-items: center;


    // CARDS
    .cards {
        display: grid;
        grid-template-areas:
            'card-1'
            'card-2';
        grid-template-rows: 1fr 1fr;
    }
    .cards .card:nth-child(1) { grid-area: card-1; justify-self: baseline;}
    .cards .card:nth-child(2) { grid-area: card-2; justify-self: end;}
    .cards .card:first-child { margin-bottom: 25px;}

    // Título secundario
    .title-secondary {margin-bottom: 40px;}

    // CARD
    .cards .card {
        background: white;
        color: #7587B5;
        padding: 90px 25px 40px;
        border-radius: 8px;
        filter: drop-shadow(0 5px 30px #188FFF1A);
        max-width: 420px;
        position: relative;

        .icon {
            position: absolute;
            top: 18px;
            right: 20px;
            width: 90px;
        }
        .icon img {width: 100%;}
        .title {
            font-size: 18px;
            color: #242364;
            text-transform: uppercase;
            margin-bottom:8px;
        }
        .description {
            font-size: 14px;
        }
    }
}
@media only screen and(min-width:768px){
    #nosotros {
        padding: 80px 0;

        .cards {
            grid-template-areas: 'card-1 card-2';
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
        }
        .cards .card:first-child { margin: 0 10px 0 0; }
        .cards .card:last-child  { margin: 0 0 0 10px; }
        .cards .card {
            max-width: none;
            padding: 84px 35px 40px;
        }
        .cards .card .icon {
            top: 20px;
            right: 30px;
        }
        .cards .card .title { font-size: 20px; }
        .cards .card .description { font-size: 15px;}
    }
}
@media only screen and (min-width:1024px) {
    #nosotros {
        padding: 100px 0;

        .cards .card { padding: 90px 40px 40px; }
        .cards .card .icon { top: 20px; right: 30px; }
        .cards .card .title { font-size: 24px; }
        .cards .card .description { font-size: 16px;}
    }
}
@media only screen and (min-width:1220px) {
    #nosotros {
        padding: 120px 0;

        .cards .card { padding: 72px 50px 60px; }
        .cards .card .icon { right: 50px; }
        .cards .card .title { font-size: 28px; }
        .cards .card .description { font-size: 17px;}
    }
}
@media only screen and (min-width:1440px) {
    #nosotros {
        padding: 140px 0;

        .cards .card { padding: 102px 50px 90px; }
        .cards .card .icon { top: 20px;width: 120px; }
    }
}
@media only screen and (min-width: 1601px) {
    #nosotros > .container {
        max-width: none;
        margin: 0 calc(100% - 1600px);
    }
}
@media only screen and (min-width: 1920px) {
    #nosotros > .container { max-width: 1298px; width: 100%; margin: 0;}
}