/* -------------------------------------------------
   # NavBar - General
----------------------------------------------------*/
// Posicionamiento
.navbar {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 72px;
    width: 100%;
    z-index: 4;
    top: 0;
    left: 0;
}
// Composición
.navbar .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    max-width: 1600px;

    >.icon-menu {justify-self: start;width: 50px;} // Menú
    >.logo      {justify-self: center;}            // Logo
    >.group-btn {justify-self: end;}               // Botones

    // Imagen de perfil
    >.group-btn .img-profile {
        width:  35px;
        height: 35px;
        border-radius: 50px;
        overflow: hidden;

        img {width: 100%;}
    }
}
// Animación
.navbar {
    // https://css-tricks.com/animate-svg-path-changes-in-css/
    @keyframes line_1 {
        0%   { d: path("M15 32H25"); }
        20%  { d: path("M15 32H35"); }
        40%  { d: path("M34 32L35 32"); }
        70%  { d: path("M25.5 25.5L17.5 17.5"); }
        100% { d: path("M25.5 25.5L17.5 17.5"); }
    }
    @keyframes line_2 {
        0%   { d: path("M15 25L35 25"); }
        15%  { d: path("M15 25L35 25"); }
        30%  { d: path("M15 25L35 25"); }
        70%  { d: path("M17.4644 32.6067L32.5356 17.5355"); }
        100% { d: path("M17.4644 32.6067L32.5356 17.5355"); }
    }
    @keyframes line_3 {
        0%   { d: path("M25 18H35"); }
        20%  { d: path("M15 18L35 18"); }
        40%  { d: path("M15 18H16"); }
        70%  { d: path("M32.571 32.5711L25.5 25.5"); }
        100% { d: path("M32.571 32.5711L25.5 25.5"); }
    }
    @keyframes line_1_rev {
        0% { d: path("M25.5 25.5L17.5 17.5"); }
        20%  { d: path("M25.5 25.5L17.5 17.5"); }
        40%  { d: path("M34 32L35 32"); }
        70%  { d: path("M15 32H35"); }
        100%   { d: path("M15 32H25"); }
    }
    @keyframes line_2_rev {
        0% { d: path("M17.4644 32.6067L32.5356 17.5355"); }
        15%  { d: path("M17.4644 32.6067L32.5356 17.5355"); }
        30%  { d: path("M15 25L35 25"); }
        70%  { d: path("M15 25L35 25"); }
        100%   { d: path("M15 25L35 25"); }
    }
    @keyframes line_3_rev {
        0% { d: path("M32.571 32.5711L25.5 25.5"); }
        20%  { d: path("M32.571 32.5711L25.5 25.5"); }
        40%  { d: path("M15 18H16"); }
        70%  { d: path("M15 18L35 18"); }
        100%   { d: path("M25 18H35"); }
    }
    .icon-menu {
        #line_1 {animation: line_1_rev 1200ms forwards;}
        #line_2 {animation: line_2_rev 1200ms forwards;}
        #line_3 {animation: line_3_rev 1200ms forwards;}
    }
    &.active .icon-menu {
        #line_1 {animation: line_1 1200ms forwards;}
        #line_2 {animation: line_2 1200ms forwards;}
        #line_3 {animation: line_3 1200ms forwards;}
    }
}
// Elementos internos
.navbar .container {

    // Ocultar en versiones móviles
    >.links,
    .btn-cold,
    .btn-cold {display: none;}
    // Menú
    >.icon-menu {
        background:radial-gradient(circle, rgba(44,96,255,0) 0%, rgba(44,96,255,0) 70%);
    }
    >.icon-menu path {transition: all 850ms ease-in-out;}
    >.icon-menu:hover {background: radial-gradient(circle, rgba(44,96,255,0.5) 0%, rgba(44,96,255,0) 70%);cursor: pointer;}
    // Logo
    >.logo {height: 36px;width: auto;}
    >.logo img {width: auto;height: 100%;}
    // Enlaces
    >.links .link {
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        color: #D4E3FF;
        margin-right: 16px;
    }
    >.links .link:last-child {margin-right: 0;}
    >.links .link:hover {
        color: #7BB8FF;
        filter: drop-shadow(0 0 6px rgba(47, 205, 255,0.3));
    }
}
/* -------------------------------------------------
   # Navbar - Mobile
----------------------------------------------------*/
// Animación

@keyframes menuMobile-1 {
    0%   { height: 0; opacity: 0;}
    100% { height: 355px; opacity: 1;}
}
@keyframes menuMobile-link-1{
    0%   {opacity: 0;}
    50%  {opacity: 0;margin-bottom: 0px;}
    100% {opacity: 1;margin-bottom: 16px;}
}
@keyframes menuMobile-link-2{
    0%   {opacity: 0;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes menuMobile-link-3{
    0%   {opacity: 0;}
    70%  {opacity: 0;}
    100% {opacity: 1;}
}

.navbar-mb {
    animation-name: menuMobile-1;
    animation-duration: 1s;
}
.navbar.active link {
    animation-name: menuMobile-1;
    animation-duration: 5s;
}
link:nth-child(3) {
    animation-name: menuMobile-1;
    animation-duration: 10s;
}

// Composición
.navbar-mb {
    $pad_size: 25px;

    position: absolute;
    display: none;
    width: 100%;
    z-index: 4;
    top: 80px;
    left: 0;
    max-width: 380px;
    transition: all 500ms;

    >.container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: unset;
        width: 100%;
        background: #101c42;
        height: auto;
        margin: 0 $pad_size;
        padding: $pad_size;
        border-radius: 8px;
        // Enlaces
        >.links {
            display: flex;
            flex-direction: column;
            margin-bottom: 16px;
        }
        >.links .link {
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
            text-decoration: none;
            color: #D4E3FF;
            margin-bottom: 16px;
        }
        >.links .link:hover {
            color: #7BB8FF;
            filter: drop-shadow(0 0 6px rgba(47, 205, 255,0.3));
        }
        // Botones
        >.group-btn {
            display: flex;
            justify-content: space-between;
        }
        >.group-btn .btn-cold { width: calc(50% - 4px); }
        // Iconos de redes
        >.sm-links {
            display: flex;
            margin-top: 24px;
            justify-content: center;
        }
    }
}
// Activar menu desplegable en móviles
.navbar-mb.active {display: flex;}

/* -------------------------------------------------
   # Navbar - Responsive
----------------------------------------------------*/
@media screen and (min-width: 768px) {
    .navbar {
        height: 76px;

        .logo {height: 40px;}
        // Image profile
        .container >.group-btn .img-profile {
            width:  40px;
            height: 40px;
        }
    }
}
@media screen and (min-width: 1024px) {
    .navbar {height: 80px;}
    .navbar .container {
        grid-template-columns: auto 1fr auto;

        >.icon-menu {display: none;}
        >.logo      {height: 44px;}
        >.links     {display: flex; margin-left: 24px;}
    }
    .navbar-mb,
    .navbar-mb.active {display: none;}

    // Ocultar en versiones móviles
    .navbar .container .btn-cold {display: inline-flex; }
    .navbar .container .btn-blue {display: none;}
}
@media screen and (min-width: 1220px) {
    .navbar {
        height: 90px;
        
        .container >.link {font-size: 14px;}
    }
    // Image profile
    .navbar .container >.group-btn .img-profile {
        width:  45px;
        height: 45px;
    }
}
@media screen and (min-width: 1440px) {
    .navbar {
        height: 100px;

        .container >.logo {height: 48px;}
    }
    // Image profile
    .navbar .container >.group-btn .img-profile {
        width:  50px;
        height: 50px;
    }
}