<!-- Hero Slider -->
<header class="heroSlider">

    <div class="controls">
        <div class="controller --1" onclick="currentSlide(1)">
            <div class="controller--container"><div class="controller--slider"></div></div>
        </div>
        <div class="controller --2" onclick="currentSlide(2)">
            <div class="controller--container"><div class="controller--slider"></div></div>
        </div>
        <div class="controller --3" onclick="currentSlide(3)">
            <div class="controller--container"><div class="controller--slider"></div></div>
        </div>
        <div class="controller --4" onclick="currentSlide(4)">
            <div class="controller--container"><div class="controller--slider"></div></div>
        </div>
    </div>

    <div class="container">
        <div class="main-title">
            <h1 class="title">Únete a la comunidad digital líder en seguridad y prevención</h1>
            <p class="description">Aprende con expertos y conviértete en un profesional en temas de <span class="tema" id="tema"></span><span id="str"></span></p>
            <div class="group_btn">
                <a class="btn lg" href="#empezar"><img src="./icons/navCursos.svg" alt="">Quiero unirme</a>
                <a class="btn lg -line" href="#beneficios"><img src="./icons/navArrowDown.svg" alt="">Saber más</a>
            </div>
        </div>
    </div>

    <div class="gradients">
        <div class="no-gradient"></div>
        <div class="gradient --1"></div>
        <div class="gradient --2"></div>
        <div class="gradient --3"></div>
    </div>
    <div class="img_background">
        <img class="slide active" src="./img/heroSlider-1.webp" alt="Seguridad Industrial">
        <img class="slide" src="./img/heroSlider-2.webp" alt="Seguridad Industrial">
        <img class="slide" src="./img/heroSlider-3.webp" alt="Seguridad Industrial">
        <img class="slide" src="./img/heroSlider-4.webp" alt="Seguridad Industrial">
    </div>
</header>

<!-- SECCIÓN: BENEFICIOS -->
<section id="beneficios">
    <div class="container">
        <div class="title-secondary -lg -cen">
            <h4 class="descriptor">Beneficios</h4>
            <h2 class="title">¡Acceso directo a tus beneficios a un clic!</h2>
            <p class="description">Encuentra contenido educativo y de capacitación profesional en niveles básicos y avanzados.</p>
        </div>
        <div class="benefit-cards">
            <!-- Card 1 -->
            <div class="card">
                <img src="./icons/iconBenefits-1.svg" alt="campus">
                <div class="content">
                    <h4 class="title">Campus</h4>
                    <div class="description">Aprende con nuestros expertos.</div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="card">
                <img src="./icons/iconBenefits-2.svg" alt="campus">
                <div class="content">
                    <h4 class="title">Podcast</h4>
                    <div class="description">Escucha nuestras entrevistas.</div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="card">
                <img src="./icons/iconBenefits-3.svg" alt="campus">
                <div class="content">
                    <h4 class="title">Noticias</h4>
                    <div class="description">Manténte informado.</div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="card">
                <img src="./icons/iconBenefits-4.svg" alt="campus">
                <div class="content">
                    <h4 class="title">Eventos</h4>
                    <div class="description">Actualízate, no te quedes fuera.</div>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="card">
                <img src="./icons/iconBenefits-5.svg" alt="campus">
                <div class="content">
                    <h4 class="title">Wiki</h4>
                    <div class="description">Explora la única biblioteca virtual en seguridad.</div>
                </div>
            </div>
            <!-- Card 6 -->
            <div class="card">
                <img src="./icons/iconBenefits-6.svg" alt="campus">
                <div class="content">
                    <h4 class="title">Canal infantil</h4>
                    <div class="description">La herencia de un mundo más seguro para nuevas generaciones.</div>
                </div>
            </div>
            <!-- End Cards -->

        </div>
    </div>
</section>

<!-- SECCIÓN: MIEMBRO HUB -->
<section id="miembro-hub">
    <div class="container">
        <div class="title-secondary">
            <h4 class="descriptor">Descubre</h4>
            <h2 class="title">Qué miembro Hub eres</h2>
            <p class="description">Selecciona al hubin de tu preferencia y personaliza tu navegación en la web.</p>
        </div>
        <!-- Card slider -->
        <div class="card-slider">
            <div class="myCard card active">
                <h4 class="title">Empresario</h4>
                <p class="description">Brinde a sus colaboradores la oportunidad de adquirir herramientas teóricas y prácticas para la prevención y atención de accidentes. Certifica a tu equipo sin salir del área laboral  100 % online con validez oficial.</p>
                <p class="descriptor">1 de 4 — Siguiente: Estudiante</p>
                <img src="./img/avatar-1.png" alt="Empresario" id="image-1" class="image-avatar">
            </div>
            <div class="myCard card">
                <h4 class="title">Estudiante</h4>
                <p class="description">Conviértete en un profesional, desarrolla competencias y habilidades laborales que no todos tienen y sé un colaborador atractivo para las empresas que están buscando alguien como tú.</p>
                <p class="descriptor">2 de 4 — Siguiente: Colaborador</p>
                <img src="./img/avatar-2.png" alt="Estudiante" id="image-2" class="image-avatar">
            </div>
            <div class="myCard card">
                <h4 class="title">Colaborador</h4>
                <p class="description">Supérate y asegura el conocimiento para salvaguardar tu integridad física y la de tus compañeros. Aumenta tus conocimientos y habilidades laborales en diversas áreas relacionadas a la seguridad, esto te dará más y mejores oportunidades.</p>
                <p class="descriptor">3 de 4 — Siguiente: Hogar</p>
                <img src="./img/avatar-3.png" alt="Colaborador" id="image-3" class="image-avatar">
            </div>
            <div class="myCard card">
                <h4 class="title">Hogar</h4>
                <p class="description">Los accidentes llegan sin avisar y  la única forma de estar preparados es tener el conocimiento y las herramientas necesarias para poder responder lo mejor posible en esas situaciones, el 67% porciento de los accidentes ocurren en casa, protege a tus seres queridos.</p>
                <p class="descriptor">4 de 4 — Siguiente: Empresario</p>
                <img src="./img/avatar-4.png" alt="Hogar" id="image-4" class="image-avatar">
            </div>
        </div>
        <!-- END: Card Slider-->
        <div class="group-btn">
            <button class="btn prev" onclick="plusSlides(-1)">❮</button>
            <button class="btn next" onclick="plusSlides(1)">❯</button>
        </div>
    </div>
</section>

<!-- SECCIÓN: NOSOTROS -->
<section id="nosotros">
    <div class="container">
        <div class="title-secondary">
            <h4 class="descriptor">Nosotros</h4>
            <h2 class="title">A mayor educación, menos accidentes</h2>
            <p class="description">Reduciendo en un 50% los accidentes a nivel latinonamérica</p>
        </div>
        <div class="cards">
            <div class="card">
                <div class="icon">
                    <img src="./img/iconMision.png" alt="">
                </div>
                <h3 class="title">Misión</h3>
                <p class="description">Somos una empresa comprometida con la sociedad, que desarrolla contenido educativo de valor para enseñar a la gente a prevenir y actuar ante accidentes o situaciones de riesgo; a través de difusión de información estructurada y fidedigna.</p>
            </div>
            <div class="card">
                <div class="icon">
                    <img src="./img/iconVision.png" alt="">
                </div>
                <h3 class="title">Visión</h3>
                <p class="description">Ser la comunidad digital más importante a nivel global en educación preventiva sobre seguridad. Que se adapta continua e innovadoramente para el bienestar de la sociedad.</p>
            </div>
        </div>
    </div>
</section>

<!-- SECCIÓN: SÍGUENOS -->
<section id="siguenos">
    <div class="container">
        <div class="title-secondary">
            <h4 class="descriptor">Conéctate</h4>
            <h2 class="title">Conócenos mejor por nuestras redes sociales</h2>
        </div>
        <div class="social-cards">
            <!-- Card 1 -->
            <a href="https://www.facebook.com/elhubdeseguridadmx" target="_blank" class="card">
                <div class="screen"></div>
                <div class="title-icon">
                    <img src="./icons/sm-icon-1.svg" alt="">
                    <h4 class="title">Facebook</h4>
                </div>
                <div class="image">
                    <img src="./img/card-image-1.png" alt="">
                </div>
            </a>
            <!-- Card 2 -->
            <a href="https://www.instagram.com/elhubdeseguridadmx/" target="_blank" class="card">
                <div class="screen"></div>
                <div class="title-icon">
                    <img src="./icons/sm-icon-2.svg" alt="">
                    <h4 class="title">Instagram</h4>
                </div>
                <div class="image">
                    <img src="./img/card-image-2.png" alt="">
                </div>
            </a>
            <!-- Card 3 -->
            <a href="https://www.youtube.com/channel/UCqlQxayFQPY7fKSYNjlb9_Q" target="_blank" class="card">
                <div class="screen"></div>
                <div class="title-icon">
                    <img src="./icons/sm-icon-6.svg" alt="">
                    <h4 class="title">YouTube</h4>
                </div>
                <div class="image">
                    <img src="./img/card-image-3.png" alt="">
                </div>
            </a>
            <!-- Card 4 -->
            <a href="https://www.tiktok.com/@elhubdeseguridadmx" target="_blank" class="card">
                <div class="screen"></div>
                <div class="title-icon">
                    <img src="./icons/sm-icon-4.svg" alt="">
                    <h4 class="title">TikTok</h4>
                </div>
                <div class="image">
                    <img src="./img/card-image-4.png" alt="">
                </div>
            </a>
        </div>
    </div>
</section>

<!-- SECCIÓN: CTA -->
<section id="cta">
    <div class="container">
        <div class="title-secondary -cen -white">
            <h4 class="descriptor">Accede</h4>
            <h2 class="title">Sé parte de la comunidad uniéndote sin costo</h2>
            <a href="#empezar" class="btn">Quiero unirme</a>
        </div>
    </div>
    <div class="cir uno"></div>
    <div class="cir dos"></div>
</section>

<!-- SECCIÓN: FOOTER -->
<footer id="footer">
    <div class="container">
        <a href="#" class="logo"><img src="./img/logotypeHub.svg" alt=""></a>
        <div class="content">
            <p>El Hub de Seguridad es una comunidad comprometida con la educación sobre temas de seguridad.</p>
            <p><img src="./icons/icon-email.svg" alt="">administracion@elhubdeseguridad.com</p>
        </div>
        <div class="sm-links">
            <!-- Facebook -->
            <a href="https://www.facebook.com/elhubdeseguridadmx" target="_blank" class="link">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="sm-icon">
                <path d="M20.5433 11.0574C20.5433 5.81714 16.2976 1.57141 11.0574 1.57141C5.81714 1.57141 1.57141 5.81714 1.57141 11.0574C1.57141 15.7919 5.04028 19.7163 9.57518 20.4286V13.7995H7.16544V11.0574H9.57518V8.96739C9.57518 6.59017 10.9904 5.27705 13.158 5.27705C14.1961 5.27705 15.2817 5.46218 15.2817 5.46218V7.79542H14.0852C12.9071 7.79542 12.5395 8.52675 12.5395 9.27683V11.0574H15.1704L14.7496 13.7995H12.5395V20.4286C17.0744 19.7163 20.5433 15.7919 20.5433 11.0574Z" fill="white"/>
                </svg>
            </a>
            <!-- Instagram -->
            <a href="https://www.instagram.com/elhubdeseguridadmx/" target="_blank" class="link">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="sm-icon">
                <path d="M10.9845 6.16525C8.31392 6.16525 6.15984 8.32384 6.15984 11C6.15984 13.6761 8.31392 15.8347 10.9845 15.8347C13.655 15.8347 15.8091 13.6761 15.8091 11C15.8091 8.32384 13.655 6.16525 10.9845 6.16525ZM10.9845 14.1432C9.25869 14.1432 7.84783 12.7336 7.84783 11C7.84783 9.26638 9.25449 7.85677 10.9845 7.85677C12.7145 7.85677 14.1211 9.26638 14.1211 11C14.1211 12.7336 12.7103 14.1432 10.9845 14.1432ZM17.1318 5.96748C17.1318 6.59444 16.6279 7.09517 16.0065 7.09517C15.3808 7.09517 14.8811 6.59023 14.8811 5.96748C14.8811 5.34473 15.385 4.8398 16.0065 4.8398C16.6279 4.8398 17.1318 5.34473 17.1318 5.96748ZM20.3272 7.112C20.2558 5.60141 19.9115 4.26334 18.8072 3.1609C17.707 2.05846 16.3718 1.71342 14.8643 1.63768C13.3107 1.54932 8.65404 1.54932 7.10042 1.63768C5.59718 1.70922 4.26191 2.05425 3.15758 3.15669C2.05324 4.25913 1.71313 5.5972 1.63755 7.10779C1.54937 8.66467 1.54937 13.3311 1.63755 14.888C1.70893 16.3986 2.05324 17.7366 3.15758 18.8391C4.26191 19.9415 5.59298 20.2865 7.10042 20.3623C8.65404 20.4506 13.3107 20.4506 14.8643 20.3623C16.3718 20.2907 17.707 19.9457 18.8072 18.8391C19.9073 17.7366 20.2516 16.3986 20.3272 14.888C20.4154 13.3311 20.4154 8.66888 20.3272 7.112ZM18.3201 16.5585C17.9926 17.3832 17.3585 18.0186 16.5313 18.351C15.2926 18.8433 12.3533 18.7297 10.9845 18.7297C9.6156 18.7297 6.67212 18.8391 5.43762 18.351C4.61462 18.0228 3.98058 17.3874 3.64886 16.5585C3.15758 15.3172 3.27095 12.3717 3.27095 11C3.27095 9.62825 3.16177 6.6786 3.64886 5.44151C3.97638 4.61679 4.61042 3.98141 5.43762 3.649C6.67632 3.15669 9.6156 3.2703 10.9845 3.2703C12.3533 3.2703 15.2968 3.1609 16.5313 3.649C17.3543 3.97721 17.9884 4.61258 18.3201 5.44151C18.8114 6.68281 18.698 9.62825 18.698 11C18.698 12.3717 18.8114 15.3214 18.3201 16.5585Z" fill="white"/>
                </svg>
            </a>
            <!-- TikTok -->
            <a href="https://www.tiktok.com/@elhubdeseguridadmx" target="_blank" class="link">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="sm-icon">
                <path d="M18.9032 9.30247C17.2747 9.30635 15.6861 8.80067 14.3619 7.85688V14.4392C14.3615 15.6583 13.9872 16.8482 13.2893 17.8499C12.5913 18.8515 11.6028 19.6171 10.456 20.0442C9.30925 20.4714 8.05884 20.5398 6.87197 20.2403C5.68511 19.9407 4.61837 19.2876 3.81439 18.3681C3.01042 17.4486 2.50753 16.3067 2.37297 15.0949C2.23841 13.8832 2.4786 12.6594 3.06141 11.5873C3.64422 10.5152 4.54188 9.64572 5.63436 9.09525C6.72684 8.54479 7.96206 8.33954 9.17486 8.50694V11.8176C8.61988 11.6438 8.02393 11.649 7.47212 11.8326C6.92031 12.0161 6.44085 12.3686 6.10222 12.8396C5.76359 13.3106 5.5831 13.8762 5.58652 14.4555C5.58995 15.0347 5.77712 15.5981 6.1213 16.0651C6.46548 16.5322 6.94907 16.879 7.50302 17.056C8.05696 17.2331 8.65293 17.2313 9.20581 17.051C9.7587 16.8707 10.2402 16.5211 10.5816 16.052C10.923 15.583 11.1068 15.0185 11.1068 14.4392V1.57141H14.3619C14.3597 1.84511 14.3827 2.11844 14.4307 2.38794C14.5438 2.98956 14.779 3.56187 15.1219 4.06989C15.4648 4.5779 15.9081 5.01092 16.4249 5.34247C17.16 5.82646 18.0219 6.08442 18.9032 6.08424V9.30247Z" fill="white"/>
                </svg>
            </a>
            <!-- YouTube -->
            <a href="https://www.youtube.com/channel/UCqlQxayFQPY7fKSYNjlb9_Q" target="_blank" class="link">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="sm-icon">
                <path d="M19.863 6.68124C19.6573 5.90698 19.0515 5.2972 18.2822 5.09026C16.8879 4.71423 11.2969 4.71423 11.2969 4.71423C11.2969 4.71423 5.70586 4.71423 4.31151 5.09026C3.54226 5.29723 2.93641 5.90698 2.73079 6.68124C2.35718 8.08462 2.35718 11.0126 2.35718 11.0126C2.35718 11.0126 2.35718 13.9407 2.73079 15.3441C2.93641 16.1183 3.54226 16.7027 4.31151 16.9096C5.70586 17.2857 11.2969 17.2857 11.2969 17.2857C11.2969 17.2857 16.8879 17.2857 18.2822 16.9096C19.0515 16.7027 19.6573 16.1183 19.863 15.3441C20.2366 13.9407 20.2366 11.0126 20.2366 11.0126C20.2366 11.0126 20.2366 8.08462 19.863 6.68124ZM9.46829 13.6711V8.35422L14.1413 11.0127L9.46829 13.6711Z" fill="white"/>
                </svg>
            </a>
            <!-- YouTube Hub Jr -->
            <a href="https://www.youtube.com/channel/UCTKe3IOavt0ysT2WdbeQGag" target="_blank" class="link">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="sm-icon">
                <path class="st0" d="M19.9,6.7c-0.2-0.8-0.8-1.4-1.6-1.6c-1.4-0.4-7-0.4-7-0.4s-5.6,0-7,0.4C3.5,5.3,2.9,5.9,2.7,6.7 C2.4,8.1,2.4,11,2.4,11s0,2.9,0.4,4.3c0.2,0.8,0.8,1.4,1.6,1.6c1.4,0.4,7,0.4,7,0.4s0.4,0,1.1,0c0.2-0.3,0.5-0.5,1-0.5 c0.3,0,0.5,0.1,0.7,0.2c0-0.2,0-0.5,0-0.8c-0.3,0-0.6-0.1-0.8-0.3c-0.2-0.2-0.4-0.5-0.4-0.8c0-0.6,0.4-1.1,1.3-1.1 c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.3,0c0.1,0,0.3,0,0.5,0c0.3,0,0.4,0,0.6,0c0.4,0,0.7,0.1,0.9,0.2c0.2-0.1,0.4-0.2,0.7-0.2l0.1,0 l0,0c0.7,0.1,0.7,0.1,0.7,0.1c0.4,0,0.7,0.1,0.9,0.3c0.4,0.2,0.6,0.4,0.8,0.6c0.2-1.5,0.2-3.7,0.2-3.7S20.2,8.1,19.9,6.7z M9.5,13.7 V8.4l4.7,2.7L9.5,13.7z" fill="white"/>
                <path class="st0" d="M13.5,18.9c0.3,0.2,0.7,0.4,1,0.4c0.4,0,0.6-0.2,0.8-0.7c0.2-0.6,0.3-1.6,0.3-3c0-0.1,0-0.2,0-0.2c0,0,0,0,0,0 h0.2c0,0,0.1,0,0.2,0c0.1,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3-0.1c0.1-0.1,0.1-0.2,0.1-0.3c0-0.3-0.3-0.4-0.8-0.4c-0.1,0-0.3,0-0.5,0 c-0.2,0-0.4,0-0.5,0c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0-0.3,0c-0.3,0-0.5,0.1-0.5,0.4c0,0.1,0,0.2,0.1,0.3c0.1,0.1,0.2,0.1,0.3,0.1 c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.2,0c0,0,0.1,0,0.1,0l0.1,0c0,0.1,0,0.2,0,0.2c0,0.6,0,1.2,0,1.6c0,0.5-0.1,0.8-0.1,0.9 c0,0.3-0.1,0.4-0.1,0.4c-0.2,0-0.3-0.1-0.5-0.2c-0.2-0.1-0.3-0.2-0.3-0.4c0-0.3-0.1-0.4-0.4-0.4s-0.4,0.1-0.4,0.4 C12.9,18.3,13.1,18.6,13.5,18.9z" fill="white"/>
                <path class="st0" d="M19.8,18.9c0.1,0,0.2,0,0.3-0.1c0.1-0.1,0.1-0.2,0.1-0.3c0-0.1,0-0.2-0.1-0.3c-0.3-0.3-0.6-0.6-1.1-0.9 c0.3-0.1,0.6-0.3,0.8-0.5c0.2-0.2,0.3-0.4,0.3-0.7c0-0.6-0.4-1.1-1.2-1.5c-0.2-0.1-0.4-0.2-0.7-0.2c0,0-0.2,0-0.7-0.1c0,0,0,0,0,0 c-0.1,0-0.3,0.1-0.4,0.2c-0.1,0.1-0.1,0.2-0.1,0.3l0,2.3c0,0.1,0,0.4,0,0.6c0,0.3,0,0.5,0,0.6c0,0.1,0,0.2,0.1,0.3s0.2,0.1,0.3,0.1 s0.2,0,0.3-0.1c0.1-0.1,0.1-0.2,0.1-0.3c0-0.1,0-0.4,0-0.9c0.7,0.2,1.3,0.6,1.9,1.1C19.6,18.9,19.7,18.9,19.8,18.9z M17.8,16.9 c0,0-0.1,0-0.1,0v-1.5c0.2,0,0.3,0,0.3,0c0.3,0,0.5,0.1,0.8,0.3c0.3,0.2,0.4,0.4,0.4,0.6c0,0,0,0.1-0.1,0.2 c-0.1,0.1-0.2,0.1-0.3,0.2C18.6,16.8,18.3,16.9,17.8,16.9z" fill="white"/>
                </svg>
            </a>
        </div>
        <div class="copyright">
            <p class="copy">© El Hub de Seguridad, S.A de C.V. 2022.</p>
            <div class="links">
                <a href="./aviso-privacidad.html" class="link">Aviso de Privacidad</a>
                <a href="./terminos-uso.html" class="link">Términos de Uso</a>
            </div>
        </div>
    </div>
</footer>
<!-- Scripts -->
<script src="./scripts/script.js"></script>
<script src="./scripts/slider-hero.js"></script>
<script src="./scripts/slider-members.js"></script>