<!-- Navbar -->
<nav class="navbar" id="navbar">
    <div class="container">
        <div class="icon-menu" id="icon-menu" onclick="toggleMenu()">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="line_3" d="M25 18H35" stroke="#5E79CE" stroke-width="3" stroke-linecap="round"/>
            <path id="line_2" d="M15 25L35 25" stroke="#5E79CE" stroke-width="3" stroke-linecap="round"/>
            <path id="line_1" d="M15 32H25" stroke="#5E79CE" stroke-width="3" stroke-linecap="round"/>
            </svg>
        </div>
        <a href="./" class="logo">
            <img src="./img/logotypeHub.svg" alt="" class="logo">
        </a>
        <div class="links">
            <a href="#" class="link">Inicio</a>
            <a href="#beneficios" class="link">Beneficios</a>
            <a href="#miembro-hub" class="link">Qué miembro Hub eres</a>
            <a href="#nosotros" class="link">Nosotros</a>
            <a href="#siguenos" class="link">Síguenos</a>
            <a href="#cta" class="link">Únete</a>
        </div>
        {{#if user}}
        <div class="group-btn">
            <a href="/logout" class="btn-cold -line sm">Cerrar sesión</a>
        </div>
        {{else}}
        <div class="group-btn">
            <a class="btn-blue -line sm" id="start-btn" href="#empezar">Empezar</a>
            <a href="#inicio-sesion" class="btn-cold sm -line" id="login-btn">Iniciar sesión</a>
            <a class="btn-cold sm" id="signup-btn" href="#empezar">Regístrarme</a>
        </div>
        {{/if}}
    </div>
</nav> 
<div class="navbar-mb" id="navbar-mb">
    <div class="container">
        <div class="links">
            <a href="#" class="link">Inicio</a>
            <a href="#beneficios" class="link">Beneficios</a>
            <a href="#miembro-hub" class="link">Qué miembro Hub eres</a>
            <a href="#nosotros" class="link">Nosotros</a>
            <a href="#siguenos" class="link">Síguenos</a>
            <a href="#cta" class="link">Únete</a>
        </div>
        {{#if user}}
        <div class="group-btn">
            <a href="/logout" class="btn-blue -line">Cerrar sesión</a>
        </div>
        {{else}}
        <div class="group-btn">
            <a href="#inicio-sesion" class="btn-cold -line" id="login-btn">Iniciar sesión</a>
            <a class="btn-cold" id="signin-btn" href="#empezar">Regístrarme</a>
        </div>
        {{/if}}
        <div class="sm-links">
            <!-- Facebook -->
            <a href="https://www.facebook.com/elhubdeseguridadmx" target="_blank" class="link">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="sm-icon">
                <path d="M20.5433 11.0574C20.5433 5.81714 16.2976 1.57141 11.0574 1.57141C5.81714 1.57141 1.57141 5.81714 1.57141 11.0574C1.57141 15.7919 5.04028 19.7163 9.57518 20.4286V13.7995H7.16544V11.0574H9.57518V8.96739C9.57518 6.59017 10.9904 5.27705 13.158 5.27705C14.1961 5.27705 15.2817 5.46218 15.2817 5.46218V7.79542H14.0852C12.9071 7.79542 12.5395 8.52675 12.5395 9.27683V11.0574H15.1704L14.7496 13.7995H12.5395V20.4286C17.0744 19.7163 20.5433 15.7919 20.5433 11.0574Z" fill="white"/>
                </svg>
            </a>
            <!-- Instagram -->
            <a href="https://www.instagram.com/elhubdeseguridadmx/" target="_blank" class="link">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="sm-icon">
                <path d="M10.9845 6.16525C8.31392 6.16525 6.15984 8.32384 6.15984 11C6.15984 13.6761 8.31392 15.8347 10.9845 15.8347C13.655 15.8347 15.8091 13.6761 15.8091 11C15.8091 8.32384 13.655 6.16525 10.9845 6.16525ZM10.9845 14.1432C9.25869 14.1432 7.84783 12.7336 7.84783 11C7.84783 9.26638 9.25449 7.85677 10.9845 7.85677C12.7145 7.85677 14.1211 9.26638 14.1211 11C14.1211 12.7336 12.7103 14.1432 10.9845 14.1432ZM17.1318 5.96748C17.1318 6.59444 16.6279 7.09517 16.0065 7.09517C15.3808 7.09517 14.8811 6.59023 14.8811 5.96748C14.8811 5.34473 15.385 4.8398 16.0065 4.8398C16.6279 4.8398 17.1318 5.34473 17.1318 5.96748ZM20.3272 7.112C20.2558 5.60141 19.9115 4.26334 18.8072 3.1609C17.707 2.05846 16.3718 1.71342 14.8643 1.63768C13.3107 1.54932 8.65404 1.54932 7.10042 1.63768C5.59718 1.70922 4.26191 2.05425 3.15758 3.15669C2.05324 4.25913 1.71313 5.5972 1.63755 7.10779C1.54937 8.66467 1.54937 13.3311 1.63755 14.888C1.70893 16.3986 2.05324 17.7366 3.15758 18.8391C4.26191 19.9415 5.59298 20.2865 7.10042 20.3623C8.65404 20.4506 13.3107 20.4506 14.8643 20.3623C16.3718 20.2907 17.707 19.9457 18.8072 18.8391C19.9073 17.7366 20.2516 16.3986 20.3272 14.888C20.4154 13.3311 20.4154 8.66888 20.3272 7.112ZM18.3201 16.5585C17.9926 17.3832 17.3585 18.0186 16.5313 18.351C15.2926 18.8433 12.3533 18.7297 10.9845 18.7297C9.6156 18.7297 6.67212 18.8391 5.43762 18.351C4.61462 18.0228 3.98058 17.3874 3.64886 16.5585C3.15758 15.3172 3.27095 12.3717 3.27095 11C3.27095 9.62825 3.16177 6.6786 3.64886 5.44151C3.97638 4.61679 4.61042 3.98141 5.43762 3.649C6.67632 3.15669 9.6156 3.2703 10.9845 3.2703C12.3533 3.2703 15.2968 3.1609 16.5313 3.649C17.3543 3.97721 17.9884 4.61258 18.3201 5.44151C18.8114 6.68281 18.698 9.62825 18.698 11C18.698 12.3717 18.8114 15.3214 18.3201 16.5585Z" fill="white"/>
                </svg>
            </a>
            <!-- TikTok -->
            <a href="https://www.tiktok.com/@elhubdeseguridadmx" target="_blank" class="link">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="sm-icon">
                <path d="M18.9032 9.30247C17.2747 9.30635 15.6861 8.80067 14.3619 7.85688V14.4392C14.3615 15.6583 13.9872 16.8482 13.2893 17.8499C12.5913 18.8515 11.6028 19.6171 10.456 20.0442C9.30925 20.4714 8.05884 20.5398 6.87197 20.2403C5.68511 19.9407 4.61837 19.2876 3.81439 18.3681C3.01042 17.4486 2.50753 16.3067 2.37297 15.0949C2.23841 13.8832 2.4786 12.6594 3.06141 11.5873C3.64422 10.5152 4.54188 9.64572 5.63436 9.09525C6.72684 8.54479 7.96206 8.33954 9.17486 8.50694V11.8176C8.61988 11.6438 8.02393 11.649 7.47212 11.8326C6.92031 12.0161 6.44085 12.3686 6.10222 12.8396C5.76359 13.3106 5.5831 13.8762 5.58652 14.4555C5.58995 15.0347 5.77712 15.5981 6.1213 16.0651C6.46548 16.5322 6.94907 16.879 7.50302 17.056C8.05696 17.2331 8.65293 17.2313 9.20581 17.051C9.7587 16.8707 10.2402 16.5211 10.5816 16.052C10.923 15.583 11.1068 15.0185 11.1068 14.4392V1.57141H14.3619C14.3597 1.84511 14.3827 2.11844 14.4307 2.38794C14.5438 2.98956 14.779 3.56187 15.1219 4.06989C15.4648 4.5779 15.9081 5.01092 16.4249 5.34247C17.16 5.82646 18.0219 6.08442 18.9032 6.08424V9.30247Z" fill="white"/>
                </svg>
            </a>
            <!-- YouTube -->
            <a href="https://www.youtube.com/channel/UCqlQxayFQPY7fKSYNjlb9_Q" target="_blank" class="link">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="sm-icon">
                <path d="M19.863 6.68124C19.6573 5.90698 19.0515 5.2972 18.2822 5.09026C16.8879 4.71423 11.2969 4.71423 11.2969 4.71423C11.2969 4.71423 5.70586 4.71423 4.31151 5.09026C3.54226 5.29723 2.93641 5.90698 2.73079 6.68124C2.35718 8.08462 2.35718 11.0126 2.35718 11.0126C2.35718 11.0126 2.35718 13.9407 2.73079 15.3441C2.93641 16.1183 3.54226 16.7027 4.31151 16.9096C5.70586 17.2857 11.2969 17.2857 11.2969 17.2857C11.2969 17.2857 16.8879 17.2857 18.2822 16.9096C19.0515 16.7027 19.6573 16.1183 19.863 15.3441C20.2366 13.9407 20.2366 11.0126 20.2366 11.0126C20.2366 11.0126 20.2366 8.08462 19.863 6.68124ZM9.46829 13.6711V8.35422L14.1413 11.0127L9.46829 13.6711Z" fill="white"/>
                </svg>
            </a>
            <!-- YouTube Hub Jr -->
            <a href="https://www.youtube.com/channel/UCTKe3IOavt0ysT2WdbeQGag" target="_blank" class="link">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="sm-icon">
                <path class="st0" d="M19.9,6.7c-0.2-0.8-0.8-1.4-1.6-1.6c-1.4-0.4-7-0.4-7-0.4s-5.6,0-7,0.4C3.5,5.3,2.9,5.9,2.7,6.7 C2.4,8.1,2.4,11,2.4,11s0,2.9,0.4,4.3c0.2,0.8,0.8,1.4,1.6,1.6c1.4,0.4,7,0.4,7,0.4s0.4,0,1.1,0c0.2-0.3,0.5-0.5,1-0.5 c0.3,0,0.5,0.1,0.7,0.2c0-0.2,0-0.5,0-0.8c-0.3,0-0.6-0.1-0.8-0.3c-0.2-0.2-0.4-0.5-0.4-0.8c0-0.6,0.4-1.1,1.3-1.1 c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.3,0c0.1,0,0.3,0,0.5,0c0.3,0,0.4,0,0.6,0c0.4,0,0.7,0.1,0.9,0.2c0.2-0.1,0.4-0.2,0.7-0.2l0.1,0 l0,0c0.7,0.1,0.7,0.1,0.7,0.1c0.4,0,0.7,0.1,0.9,0.3c0.4,0.2,0.6,0.4,0.8,0.6c0.2-1.5,0.2-3.7,0.2-3.7S20.2,8.1,19.9,6.7z M9.5,13.7 V8.4l4.7,2.7L9.5,13.7z" fill="white"/>
                <path class="st0" d="M13.5,18.9c0.3,0.2,0.7,0.4,1,0.4c0.4,0,0.6-0.2,0.8-0.7c0.2-0.6,0.3-1.6,0.3-3c0-0.1,0-0.2,0-0.2c0,0,0,0,0,0 h0.2c0,0,0.1,0,0.2,0c0.1,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3-0.1c0.1-0.1,0.1-0.2,0.1-0.3c0-0.3-0.3-0.4-0.8-0.4c-0.1,0-0.3,0-0.5,0 c-0.2,0-0.4,0-0.5,0c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0-0.3,0c-0.3,0-0.5,0.1-0.5,0.4c0,0.1,0,0.2,0.1,0.3c0.1,0.1,0.2,0.1,0.3,0.1 c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.2,0c0,0,0.1,0,0.1,0l0.1,0c0,0.1,0,0.2,0,0.2c0,0.6,0,1.2,0,1.6c0,0.5-0.1,0.8-0.1,0.9 c0,0.3-0.1,0.4-0.1,0.4c-0.2,0-0.3-0.1-0.5-0.2c-0.2-0.1-0.3-0.2-0.3-0.4c0-0.3-0.1-0.4-0.4-0.4s-0.4,0.1-0.4,0.4 C12.9,18.3,13.1,18.6,13.5,18.9z" fill="white"/>
                <path class="st0" d="M19.8,18.9c0.1,0,0.2,0,0.3-0.1c0.1-0.1,0.1-0.2,0.1-0.3c0-0.1,0-0.2-0.1-0.3c-0.3-0.3-0.6-0.6-1.1-0.9 c0.3-0.1,0.6-0.3,0.8-0.5c0.2-0.2,0.3-0.4,0.3-0.7c0-0.6-0.4-1.1-1.2-1.5c-0.2-0.1-0.4-0.2-0.7-0.2c0,0-0.2,0-0.7-0.1c0,0,0,0,0,0 c-0.1,0-0.3,0.1-0.4,0.2c-0.1,0.1-0.1,0.2-0.1,0.3l0,2.3c0,0.1,0,0.4,0,0.6c0,0.3,0,0.5,0,0.6c0,0.1,0,0.2,0.1,0.3s0.2,0.1,0.3,0.1 s0.2,0,0.3-0.1c0.1-0.1,0.1-0.2,0.1-0.3c0-0.1,0-0.4,0-0.9c0.7,0.2,1.3,0.6,1.9,1.1C19.6,18.9,19.7,18.9,19.8,18.9z M17.8,16.9 c0,0-0.1,0-0.1,0v-1.5c0.2,0,0.3,0,0.3,0c0.3,0,0.5,0.1,0.8,0.3c0.3,0.2,0.4,0.4,0.4,0.6c0,0,0,0.1-0.1,0.2 c-0.1,0.1-0.2,0.1-0.3,0.2C18.6,16.8,18.3,16.9,17.8,16.9z" fill="white"/>
                </svg>
            </a>
        </div>
    </div>
</div>