<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" style="font-size:18px;text-transform:uppercase;font-weight:800">EL HUB DE SEGURIDAD
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
              {{#if user}}
              <div class="dropdown">
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Links
                      </button>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/links">All links</a></li>
                          <li><a class="dropdown-item" href="/links/add">Add a new link</a></li>
                      </ul>
                  </div>
              </div>
              <li class="nav-item">
                <a href="/profile" class="nav-link">Profile</a>
              </li>
              <li class="nav-item">
                <a href="/logout" class="nav-link">Logout</a>
              </li>
              {{/if}}
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
              <a href="/signin" class="btn btn-outline-light me-2">Login</a>
              <a href="/signup" class="btn btn-warning">Sign-up</a>
            </div>
        </div>
    </div>
</header>