/*
    - Title primary
    - Title secondary
*/

/* -------------------------------------------------
   # Title Primary
----------------------------------------------------*/
.main-title {
    max-width: 400px;
    margin-bottom: 96px;

    // Decriptor
    >.descriptor {
        font-size: 10px;
        font-weight: 800;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin: 0 0 4px 0;
        color: #FFFFFF;
    }
    // Titulo
    >.title {
        font-family: Raleway;
        font-size: 26px;
        background: -webkit-linear-gradient(#24AFFF, #5CFFFF);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 8px 0;
    }
    // Descripción
    >.description {
        font-size: 14px;
        color: white;
        font-weight: 300;
        margin: 4px 0;
    }
    >.description .tema {
        color: $clr-secondary-1;
        font-weight: 700;
        font-style: italic;
    }
    // Botones
    >.group_btn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6px;
        gap: 6px;
        margin-top: 24px;

    }
    >.group_btn .btn {
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    .main-title {
        margin-bottom: 0;

        // Descriptor
        >.descriptor  {
            font-size: 11px;
        }
        // Título
        >.title {
            font-size: 32px;
            margin: 12px 0;
        }
        // Descripción
        >.description {
            font-size: 16px;
        }
        // Botones
        >.group_btn {
            display: flex;
            gap: 0;
            grid-gap: 0;
            margin-top: 28px;
        }
        >.group_btn .btn {
            width: auto;
        }
        >.group_btn .btn:first-child{
            margin-right: 12px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .main-title {
        max-width: 415px;

        // Título
        >.title {
            font-size: 34px;
            margin: 14px 0;
        }
        // Descripción
        >.description {
            font-size: 17px;
        }
        // Botones
        >.group_btn {
            margin-top: 32px;
        }
    }
}

@media only screen and (min-width: 1220px) {
    .main-title {
        max-width: 450px;

        // Descriptor
        >.descriptor  {
            font-size: 12px;
        }
        // Título
        >.title {
            font-size: 36px;
            margin: 16px 0;
        }
        // Descripción
        >.description {
            font-size: 18px;
        }
        // Botones
        >.group_btn {
            margin-top: 36px;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .main-title {
        max-width: 524px;
        
        // Descriptor
        >.descriptor  {
            font-size: 13px;
        }
        // Título
        >.title {
            font-size: 40px;
            margin: 18px 0;
        }
        // Descripción
        >.description {
            font-size: 19px;
        }
        // Botones
        >.group_btn {
            margin-top: 40px;
        }
    }
}

@media only screen and (min-width: 1920px) {
    .main-title {
        max-width: 580px;

        // Descriptor
        >.descriptor  {
            font-size: 14px;
        }
        // Título
        >.title {
            font-size: 46px;
            margin: 20px 0;
        }
        // Descripción
        >.description {
            font-size: 20px;
        }
        // Botones
        >.group_btn {
            margin-top: 48px;
        }
    }
}





/* -------------------------------------------------
   # Title Secondary
----------------------------------------------------*/
.title-secondary {
    max-width: 340px;
    margin-bottom: 20px;

    // Descriptor
    >.descriptor {
        font-size: 10px;
        font-weight: 800;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin: 0 0 4px 0;
        color: #1B1740;
    }
    // Título
    >.title {
        font-size: 22px;
        background: linear-gradient(145deg,#2461FF,#735CFF);
        background-clip: text;
        background: -webkit-linear-gradient(145deg,#2461FF,#735CFF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0 0 8px 0;
    }
    // Descripción
    >.description {
        font-size: 14px;
        color: #585C87;
        margin: 0;
    }
}
// Variante: Tamaño
.title-secondary.-lg {
    max-width: 360px;
}
// Variante: Color
.title-secondary.-white .descriptor {color: white;}
.title-secondary.-white .title {
    color: white;
    background: none;
    -webkit-text-fill-color: white;
}

@media only screen and (min-width: 410px) {
    // VARIANTE: Título centrado
    .title-secondary.-cen {
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .title-secondary {
        max-width: 360px;
        margin-bottom: 20px;

        >.descriptor  { font-size: 11px; } // Descriptor
        >.title       { font-size: 24px; } // Título
        >.description { font-size: 15px; } // Descripción
    }
    // VARIANTE: Título largo
    .title-secondary.-lg {
        max-width: 380px;
    }
}

@media only screen and (min-width: 1024px) {
    .title-secondary {
        max-width: 400px;
        margin-bottom: 28px;

        >.title       { font-size: 28px; } // Título
        >.description { font-size: 16px; } // Descripción
    }
    .title-secondary.-lg {
        max-width: 420px;
    }
}

@media only screen and (min-width: 1220px) {
    .title-secondary {
        max-width: 430px;
        margin-bottom: 34px;

        >.descriptor  { font-size: 12px; } // Descriptor
        >.title       { font-size: 32px; } // Título
        >.description { font-size: 17px; } // Descripción
    }
    // VARIANTE: Título largo
    .title-secondary.-lg {
        max-width: 450px;
    }
}

@media only screen and (min-width: 1440px) {
    .title-secondary {
        max-width: 455px;
        margin-bottom: 42px;

        >.descriptor  { font-size: 13px; } // Descriptor
        >.title       { font-size: 36px; } // Título
        >.description { font-size: 18px; } // Descripción
    }
    // VARIANTE: Título largo
    .title-secondary.-lg {
        max-width: 475px;
    }
}

@media only screen and (min-width: 1920px) {
    .title-secondary {
        max-width: 520px;
        margin-bottom: 50px;

        >.descriptor  { font-size: 14px; } // Descriptor
        >.title       { font-size: 40px; } // Título
        >.description { font-size: 20px; } // Descripción
    }
    // VARIANTE: Título largo
    .title-secondary.-lg {
        max-width: 590px;
    }
}